// 全局SCSS变量

:root{
  --menuBg:#21252b;
  --menuText:#f4f4f5;
  --menuActiveText:#409eff;
  --menuHover:#409eff;

  --subMenuBg: #21252b;
  --subMenuActiveText: #409eff;
  --subMenuHover: #409eff;

}


$menuBg: var(--menuBg);
$menuText: var(--menuText);
$menuActiveText: var(--menuActiveText);
$menuHover: var(--menuHover);

$subMenuBg:var(--subMenuBg);
$subMenuActiveText:var(--subMenuActiveText);
$subMenuHover:var(--subMenuHover);

$sideBarWidth: 256px;
